.item{
    width: 100%;
    background-color: gray;
    height: 200px;
    line-height: 200px;
    color: white;
    text-align: center;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
}
.item:hover{
    background-color: tomato;
}