.container{
    width: 100%;
}
.btn_up{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: white;
    position: absolute;
    right: 80px;
    top: 520px;
    border: 0;
    scroll-behavior: smooth;
}
.tit{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    padding: 120px 0px 60px 0px;
}
.category{
    width: 1000px;
    height: 57px;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    margin: 0 auto 40px auto;
    display: flex;
    position: relative;
}
.cate_left{
    font-size: 14px;
    color: #1c1c1c;
    line-height: 57px;
    cursor: pointer;
}
.cate_left span{
    padding: 0px 25px;
}
.cate_right{
    line-height: 57px;
    font-size: 14px;
    font-weight: 600;
}
.cate_r_tit{
    position: absolute;
    right: 25px;
    top: 0;
}
.cate_r_tit span{
    margin: 0px 12px 0px 0px;
    line-height: 61px;
}
.cate_right:hover .cate_r_nav{
    opacity: 1;
}
.cate_r_nav{
    opacity: 0;
    width: 100px;
    height: 90px;
    background: white;
    border: 1px solid gray;
    padding: 15px 30px;
    position: absolute;
    right: 0;
    top: 60px;
}
.cate_r_nav li{
    display: block;
    line-height: 30px;
}
.cate_r_nav li:hover{
    color: red;
}
.shop_all{
    width: 1240px;
    margin: 0 auto;
    background: #f2f2f2;
    padding: 50px 25px;
    margin-bottom: 140px;
}
.all_top{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto; */
    width: 1210px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.sItem{
    margin: 0px 0px 100px 0px;
}

.type1{
    /* width: calc( ( 100% - 20px) / 3); */
    width: 353px;
    margin-right: 75.5px;
}
.type1:nth-child(3){
    margin-right: 0px;
}
.type2{
    width: calc( ( 100% - 30px) / 4);
}
.type3{
    width: calc( ( 100% - 50px) / 6);
}

.shop_item{
    position: relative;
}
.itme_num{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    background: #0b0b0b;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.item_img img{
    width: 353px;
    /* width: 100%; */
    height: 448px;
    background: green;
}
.item_text{
    width: 100%;
    margin: 15px 0px 0px 0px;
    padding: 0px 5px;
}
.item_tit{
    font-size: 16px;
}
.item_price{
    display: flex;
    line-height: 20px;
    margin: 15px 0px 0px 0px;
    text-align: center;
}
.item_sale{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.item_pri{
    font-size: 13px;
    color: #999999;
    margin: 0px 0px 0px 15px;
}
.sale{
    font-size: 15px;
    color: #eb5151;
    justify-content: end;
    /* margin: 0px 0px 0px 150px; */
}