.container{

}
.input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.input button{
    background-color: tomato;
    color: white;
    border: none;
    width: 50px;
    height: 30px;
}

.list{}