*{list-style: none;}

.list{
    overflow: hidden;
    margin: 0 atuo;
    background: #eeeeee;
    width: 400px;
    padding: 20px 30px;
    margin: 0 auto;
    border-top: 2px solid white;
}

.info{
    font-size: 15px;
}

.margin{
    margin-bottom: 5px;
}



.delete{
    float: right;
}
.delete_box{
    width: 60px;
    height: 30px;
    background: red;
    font-size: 14px;
    margin-right: 12px;
}


