*{margin: 0; padding: 0; text-decoration: none;}
.container{
    position: relative;
}
.btn_up{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: white;
    position: absolute;
    right: 80px;
    top: 520px;
}
.tit{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    padding: 120px 0px 60px 0px;
}
.top_banner{
    width: 1240px;
    height: 411px;
    margin: 0 auto;
    padding: 0px 0px 140px 0px;
}
.banner_img_l{
    width: 617px;
    /* height: 411px; */
    position: relative;
    display: inline-block;
    margin: 0px 6px 0px 0px;
    overflow: hidden;
}
.banner_img_l img{
    width: 100%;
}
.ban_tit_l{
    width: 555px;
    position: absolute;
    top: 250px;
    left: 50px;
}
.name_l{
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.dec_l{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.banner_img_r{
    width: 617px;
    /* height: 411px; */
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.banner_img_r img{
    width: 100%;
}
.ban_tit_r{
    width: 555px;
    position: absolute;
    top: 250px;
    left: 50px;
}
.name_r{
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.dec_r{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.bottom_banner{
    background: #f2f2f2;
    padding: 100px 0px 0px 0px;
}
.banner_boxes{
    width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.banner_box{
    display: block;
}
.banner_box img{
    width: 400px;
    height: 265px;
}
.box_tit{
    width: 100%;
    margin: 22px 0px 160px 0px;
}
.box_tit span{
    display: block;
}
.box_name{
    font-size: 29px;
    font-weight: 700;
    color: #030303;
}
.box_dec{
    font-size: 15px;
    color: #999999;
    margin: 5px 0px 0px 0px;
}