.container{
    width: 100%;
}
.login_wrap{
    width: 430px;
    margin: 0 auto;
    padding: 70px 0px 120px 0px;
}
.login_tit{
    height: 47px;
    line-height: 47px;
    border-bottom: 2px solid #000000;
}
.tit_name{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    display: inline;
    border-bottom: 3px solid #000000;
    padding: 0px 0px 10px 0px;
}
.login_form_wrap{
    padding: 30px 0px 0px 0px;
    width: 100%;
    display: block;
}
.id{
    width: 396px;
    height: 20px;
    padding: 15px;
}
.pw{
    width: 396px;
    height: 20px;
    padding: 15px;
    margin: 10px 0px 0px 0px;
}
.check_box{
    width: 100%;
    height: 35px;
}
/* 체크박스 표현안됨 */
.check{
    width: 13px;
    height: 13px;
    background: darkgray;
    border-radius: 3px;
}
.check_name{
    font-size: 13px;
    line-height: 35px;
    padding: 0px 0px 0px 8px;
    margin: 11px 0px 0px 0px;
}
.btn_login{
    width: 100%;
    height: 70px;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    margin: 7px 0px 0px 0px;
}
.info_wrap{
    width: 100%;
    margin: 25px 0px 0px 0px;
    font-size: 13px;
}
.info_one{
    height: 25px;
}
.text_one{
    line-height: 25px;
}
.btn_one{
    height: 15px;
    background: gray;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    float: right;
    margin-right: 61px;
}
.info_two{
    height: 25px;
    margin: 15px 0px 0px 0px;
}
.text_two{
    line-height: 25px;
}
.btn_two{
    height: 15px;
    background: gray;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    float: right;
}
.info_three{
    height: 20px;
    margin: 15px 0px 0px 0px;
}

footer{
    width: 100%;
}
.footer_up{
    /* height: 220px; */
    background: #333333;
    padding: 40px;
}
.f_up_tit{
    margin: 0px 0px 35px 0px;
}
.up_text{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 40px 0px 0px;
}
.f_up_text{
    color: #9a9a9a;
    font-size: 13px;
}
.text_one{
    margin: 7px 0px;
    position: relative;
}
.text_one span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.one:after{
    content: '';
    position: absolute;
    right: 992px;
    top: 3px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
    /* margin-top: -10px; */
}
.two:after{
    content: '';
    position: absolute;
    right: 702px;
    top: 3px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
    /* margin-top: -10px; */
}
.text_two{
    margin: 7px 0px;
    position: relative;
}
.text_two span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.onee:after{
    content: '';
    position: absolute;
    right: 1055px;
    top: 4px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
}
.text_three{
    margin: 7px 0px;
    position: relative;
}
.text_three span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.oneee:after{
    content: '';
    position: absolute;
    right: 1042px;
    top: 5px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
}
.text_four{
    margin: 7px 0px;
}
.text_four span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.footer_down{
    background: #252525;
    color: #9a9a9a;
    font-size: 10px;
    padding: 30px 40px;
}
.footer_down img{
    width: 110px;
    height: 25px;
    margin: 0px 20px 0px 0px;
}
.footer_down span{
    margin: 0px 0px 0px 10px;
    text-decoration: underline;
    line-height: 25px;
}