.container{
    width: 100%;
}
.join{
    width: 430px;
    margin: 0 auto;
    padding: 150px 0px 120px 0px;
}
.btn_join{
    width: 100%;
    height: 70px;
    line-height: 30px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 21px 12px;
    border: 0;
}
.join_info{
    margin: 35px 0px 0px 0px;
    font-size: 13px;
}
.thanks{
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    padding: 0px 20px 7px 20px;
}
.icon_img{
    width: 30px;
    height: 29px;
    background-image: url("../../../../../../../TNGT/images/iconss.png");
    background-repeat: no-repeat;
    margin-top: 2px;
}
.thanksI{
    background-position: -110px 0px;
}
.birthI{
    background-position: -142px 0px;
}
.gradeI{
    background-position: -174px 0px;
}
.mileageI{
    background-position: -206px 0px;
}
.thanks_tit{
    font-size: 11px;
    padding: 0px 20px;
}
.t_name{
    display: block;
    color: #030303;
    margin: 0px 0px 3px 0px;
}
.t_dec{
    display: block;
    color: #a3a3a3;
}
.birth{
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    padding: 15px 20px 7px 20px;
}
.birth img{
    width: 30px;
    height: 29px;
    background: green;
    margin-top: 2px;
}
.birth_tit{
    font-size: 11px;
    padding: 0px 20px;
}
.b_name{
    display: block;
    color: #030303;
    margin: 0px 0px 3px 0px;
}
.b_dec{
    display: block;
    color: #a3a3a3;
}
.grade{
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    padding: 15px 20px 7px 20px;
}
.grade img{
    width: 30px;
    height: 29px;
    background: green;
    margin-top: 2px;
}
.grade_tit{
    font-size: 11px;
    padding: 0px 20px;
}
.g_name{
    display: block;
    color: #030303;
    margin: 0px 0px 3px 0px;
}
.g_dec{
    display: block;
    color: #a3a3a3;
}
.mileage{
    width: 100%;
    display: flex;
    padding: 15px 20px 7px 20px;
}
.mileage img{
    width: 30px;
    height: 29px;
    background: green;
    margin-top: 2px;
}
.mileage_tit{
    font-size: 11px;
    padding: 0px 20px;
}
.m_name{
    display: block;
    color: #030303;
    margin: 0px 0px 3px 0px;
}
.m_dec{
    display: block;
    color: #a3a3a3;
}
.notice{
    padding: 40px 0px 0px 0px;
    font-size: 12px;
    color: #030303;
    line-height: 19px;
}
.n_one{
    margin: 0px 0px 6px 0px;
}

footer{
    width: 100%;
}
.footer_up{
    /* height: 220px; */
    background: #333333;
    padding: 40px;
}
.f_up_tit{
    margin: 0px 0px 35px 0px;
}
.up_text{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 40px 0px 0px;
}
.f_up_text{
    color: #9a9a9a;
    font-size: 13px;
}
.text_one{
    margin: 7px 0px;
    position: relative;
}
.text_one span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.one:after{
    content: '';
    position: absolute;
    right: 992px;
    top: 3px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
    /* margin-top: -10px; */
}
.two:after{
    content: '';
    position: absolute;
    right: 702px;
    top: 3px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
    /* margin-top: -10px; */
}
.text_two{
    margin: 7px 0px;
    position: relative;
}
.text_two span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.onee:after{
    content: '';
    position: absolute;
    right: 1055px;
    top: 4px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
}
.text_three{
    margin: 7px 0px;
    position: relative;
}
.text_three span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.oneee:after{
    content: '';
    position: absolute;
    right: 1042px;
    top: 5px;
    height: 13px;
    width: 1px;
    background: #9a9a9a;
}
.text_four{
    margin: 7px 0px;
}
.text_four span{
    margin: 0px 30px 0px 0px;
    letter-spacing: -0.1px;
}
.footer_down{
    background: #252525;
    color: #9a9a9a;
    font-size: 10px;
    padding: 30px 40px;
}
.footer_down img{
    width: 110px;
    height: 25px;
    margin: 0px 20px 0px 0px;
}
.footer_down span{
    margin: 0px 0px 0px 10px;
    text-decoration: underline;
    line-height: 25px;
}