.container{
	width: 500px;
	margin: 50px auto;
}
.inputForm{
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}
.left{
	flex: 1;
	box-sizing: border-box;
}
.left .field{
	padding: 5px;
}
.left .field input{
	box-sizing: border-box;
	padding: 10px;
	font-size: 20px;
	outline: none;
	width: 100%;
}
.right{
	width: 200px;
	display: flex;
	justify-content: center;
}
.right button{
	background-color: #0071B3;
	color: #fff;
	border: none;
	outline: none;
	padding: 0 20px;
	height: 60px;
	align-self: center;
}
.right button:active{
	background-color: rgb(11, 78, 117);
}
.list {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 0 auto;
	padding: 20px 0;
}
.card {
	background: white;
	border: 1px solid #ddd;
	box-shadow: 5px 5px 10px rgba(0,0,0,.1);
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 3px;
	display: flex;
}
.info {
	flex: 1;
}
.info .row{
	margin: 5px 0;
}