.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 100px auto;
}
.Detail{
    display: flex;
}
.imgBox img{
    width: 100%;
}
.imgTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.price{
    font-size: 20px;
}
.checkBox{
    height: 20px;
    border: 2px solid #ddd;
    margin-right: 5px;
}