*{margin: 0; padding: 0; box-sizing: none; list-style: none; text-decoration: none;}
body{ 
    font-family:'Open Sans','Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
    letter-spacing: -1px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
}
.top{
    width: 100%;
    position: relative;
}
.nav{
    width: 100%;
    height: 110px;
    margin: 0 auto;
    background: white;
    line-height: 110px;
    border-bottom: 1px solid #d3d3d3;
}
.topRight{
    height: 100%;
    display: flex;
    flex-shrink: 0;
    /* color: #ffffff; */
    color: black;
    padding-left: 20px;
    position: relative;
}
.topLeft{
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 50px;
}
.topRight li{
    /* width: 100%; */
    padding: 0px 25px;
    font-size: 14px;
    letter-spacing: 3px;
}
.topRight li:nth-child(1){
    padding-right: 30px;
}
.topLeft li{
    padding: 0px 10px;
    font-size: 12px;
    letter-spacing: 3px;
}
.topRight img{
    width: 85px;
    margin: 42px auto;
}
.glass_img{
    margin: 45px 0px 0px 0px;
    padding: 0px 10px 0px 15px;
}
.cart_img{
    width: 20px;
    /* height: 20px; */
    margin: 45px 0px 0px 0px;
}
.cart_text{
    font-size: 10px;
    margin: 0px 0px 0px 3px;
    position: absolute;
    top: -25;
    right: 10;
}

.about_btn:hover .header_hover{
    display: block;
}
.shop_btn:hover .header_hover{
    display: block;
}
.outlet_btn:hover .header_hover{
    display: block;
}
.magazin_btn:hover .header_hover{
    display: block;
}
.event_btn:hover .header_hover{
    display: block;
}
.store_btn:hover .header_hover{
    display: block;
}
.about_line{
    width: 65px;
    height: 4px;
    background: black;
    display: none;
}
.shop_line{
    width: 50px;
    height: 4px;
    background: black;
    display: none;
}
.outlet_line{
    width: 65px;
    height: 4px;
    background: black;
    display: none;
}
.magazin_line{
    width: 83px;
    height: 4px;
    background: black;
    display: none;
}
.event_line{
    width: 54px;
    height: 4px;
    background: black;
    display: none;
}
.store_line{
    width: 55px;
    height: 4px;
    background: black;
    display: none;
}
.about_btn:hover .about_line{
    display: block;
    position: absolute;
    top: 75px;
    left: 180px;
}
.shop_btn:hover .shop_line{
    display: block;
    position: absolute;
    top: 75px;
    left: 295px;
}
.outlet_btn:hover .outlet_line{
    display: block;
    position: absolute;
    top: 75px;
    left: 395px;
}
.magazin_btn:hover .magazin_line{
    display: block;
    position: absolute;
    top: 75px;
    left: 512px;
}
.event_btn:hover .event_line{
    display: block;
    position: absolute;
    top: 75px;
    left: 647px;
}
.store_btn:hover .store_line{
    display: block;
    position: absolute;
    top: 75px;
    left: 754px;
}

.header_hover{
    display: none;
    width: 100%;
    height: 320px;
    background: white;
    position: absolute;
    left: 0;
    top: 110px;
}
.h_text{
    width: 900px;
    margin: 0 auto;
}
.h_tit{
    height: 60px;
    padding: 40px 0px 0px 0px;
}
.h_tit span{
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}
.h_dec{
    width: 600px;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
}
.h_dec span{
    height: 10px;
    letter-spacing: 1px;
    margin: 0px 70px 10px 0px;
}
.shop span{
    margin: 0px 130px 10px 0px;
}
.about span:nth-child(4){
    position: absolute;
    bottom: -40px;
    left: 0px;
}
.shop span:nth-child(4){
    position: absolute;
    bottom: -40px;
    left: 0px;
}
.shop span:nth-child(5){
    position: absolute;
    bottom: -40px;
    left: 160px;
}
.shop span:nth-child(6){
    position: absolute;
    bottom: -40px;
    left: 350px;
}
.outlet span{
    margin: 0px 130px 10px 0px;
}
.outlet span:nth-child(4){
    position: absolute;
    bottom: -40px;
    left: 0px;
}
.outlet span:nth-child(5){
    position: absolute;
    bottom: -40px;
    left: 160px;
}
.outlet span:nth-child(6){
    position: absolute;
    bottom: -40px;
    left: 350px;
}
.dec_line{
    width: 105px;
    height: 2px;
    background: black;
    display: none;
}
.h_img{
    position: absolute;
    top: 80px;
    right: -1000px;
}
.h_img img{
    width: 110px;
    margin: 0px 0px;
    display: block;
}
.h_img span{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: block;
}

.dec1:hover .l1{
    display: block;
}
.dec2:hover .l2{
    display: block;
}
.dec3:hover .l3{
    display: block;
}
.dec4:hover .l4{
    display: block;
}
.dec1:hover .i1{
    display: block;
}
.dec2:hover .i2{
    display: block;
}
.dec3:hover .i3{
    display: block;
}
.dec4:hover .i4{
    display: block;
}
.dec5:hover .i5{
    display: block;
}
.dec6:hover .i6{
    display: block;
}
.dec1:hover .n1{
    display: block;
}
.dec2:hover .n2{
    display: block;
}
.dec1:hover .e1{
    display: block;
}
.dec1:hover .ee1{
    display: block;
}
.dec2:hover .ee2{
    display: block;
}

.l1{
    position: absolute;
    top: 70px;
    left: 0;
}
.l2{
    position: absolute;
    width: 125px;
    top: 70px;
    left: 174px;
}
.l3{
    position: absolute;
    width: 50px;
    top: 70px;
    left: 370px;
}
.l4{
    position: absolute;
    top: 70px;
    left: 0;
}
.i1{
    width: 32px;
    position: absolute;
    top: 70px;
    left: 0;
}
.i2{
    width: 59px;
    position: absolute;
    top: 70px;
    left: 160px;
}
.i3{
    width: 32px;
    position: absolute;
    top: 70px;
    left: 351px;
}
.i4{
    width: 75px;
    position: absolute;
    top: 70px;
    left: 0;
}
.i5{
    width: 35px;
    position: absolute;
    top: 70px;
    left: 0px;
}
.i6{
    width: 40px;
    position: absolute;
    top: 70px;
    left: 0px;
}
.n1{
    width: 102px;
    position: absolute;
    top: 70px;
    left: 0px;
}
.n2{
    width: 85px;
    position: absolute;
    top: 70px;
    left: 173px;
}
.e1{
    width: 110px;
    position: absolute;
    top: 70px;
    left: 0px;
}
.ee1{
    width: 70px;
    position: absolute;
    top: 70px;
    left: 0px;
}
.ee2{
    width: 105px;
    position: absolute;
    top: 70px;
    left: 143px;
}