.container{
    width: 100%;
}
.btn_up{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: white;
    position: absolute;
    right: 80px;
    top: 520px;
    border: 0;
}
.maga_tit{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    padding: 120px 0px 60px 0px;
}
.maga_look{
    width: 1240px;
    margin: 0 auto 140px auto;
}
.maga_look{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.maga_main{
    border-bottom: 1px solid gray;
}
.maga_img{
    width: 610px;
    height: 420px;
}
.maga_title{
    width: 100%;
    margin: 25px 0px 30px 0px;
}
.maga_title span{
    display: block;
}
.name{
    font-size: 30px !important;
    color: #030303;
    padding: 0px !important;
    margin: 0px 0px 15px 0px;
}
.dec{
    font-size: 15px;
    color: #333333;
    margin: 7px 0px 0px 0px;
}
.maga_sub{
    width: 100%;
    display: flex;
    margin: 15px 0px 0px 0px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px 0px 0px 0px; */
}
.small{
    display: flex;
}
.m_type1{
    width: calc( ( 100% - 30px ) / 4);
    margin-right: 20px;
}
.m_type1:nth-child(4){
    margin-right: 0px;
}
.m_type2{
    width: calc( ( 100% - 20px ) / 3);
    margin-right: 15px;
}
.m_type2:nth-child(3){
    margin-right: 0px;
}
.m_type2:nth-child(4){
    display: none;
}
.m_type3{
    width: calc( ( 100% - 10px ) / 2);
}
.m_type3:nth-child(3){
    display: none;
}
.m_type3:nth-child(4){
    display: none;
}
.sub_img{
    width: 60px;
    height: 75px;
    background: peru;
}
.sub_tit{
    font-size: 13px;
    color: #636363;
    margin: auto 0;
    padding: 0px 10px 0px 7px;
}