.svg{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
.container{
}
.items{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
}
img{
    width: 500px;
    height: 100%;
}
.text{
    font-size: 20px;
    padding: 100px;
}
.name{
    margin-bottom: 100px;
}